# Plugin Folders
plugins/
!plugins/squadjs-api-plugin
!plugins/squadjs-command-plugin

# Project Files
config-test*.json
*.tmp

# Dependencies
node_modules/
package-lock.json
yarn.lock

# IDEs
.idea/
.vs/
