# Project Files
*.tmp
*.log
*.sqlite

# Ignore test scripts and configs that may have credentials in.
index-test*.js
config-test*.json

# Dependencies
node_modules/
package-lock.json
yarn.lock

# IDEs
.idea/